*{
  background-color: black;
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.scores {
  display: flex;
  gap: 10rem;
  font-size: 1.2rem;
}

.board {  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  height: 60vh;
  width: 60vw;
  max-width: 70vh;
  gap: 3px;
  background-color: white;
}

.box {
  display: flex;
  background-color: black;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  cursor: default;
}

.btn-clear-board {
  margin-top: 50px;
  font-size: 1.1rem;
  font-weight: 900;
  background-color: rgb(77, 73, 73);
  cursor: pointer;
}

.box:first-child,
.box:nth-child(2),
.box:nth-child(3) {
  border-top: none;
}

.box:last-child,
.box:nth-child(7),
.box:nth-child(8) {
  border-bottom: none;
  /* background-color: purple; */
}

.box:first-child,
.box:nth-child(4),
.box:nth-child(7) {
  border-left: none;
  /* background-color: green; */
}

.box:last-child,
.box:nth-child(3),
.box:nth-child(6) {
  border-right: none;
  /* background-color: red; */
}


/*      Game Over Screen  & Start Screen    */

.screen-gameOver,
.screen-start {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  background-color: rgba(3, 3, 3, 0.5);
  backdrop-filter: blur(4px);
  gap: 50px;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
}

.screen-start label {
  font-size: 3rem;
  background-color: transparent;
}

.screen-start input {
  font-size: 2rem;
  width: 200px;
}

.screen-gameOver {
  display: none;
}

.btn-restart,
.btn-start,
.easy {
  font-size: 2rem;
  background-color: rgb(77, 73, 73);
  cursor: pointer;
}

.btns-options {
  cursor: default;
}

.comp {
  font-size: 1rem;
  font-weight: 900;
}

.hard {
  background-color: rgb(143, 27, 27);
}

.easy {
  background-color: rgb(0, 117, 0);
}

.msg-container {
  background-color: transparent;
}


